*{
    margin: 0;
    padding: 0;
    
}
.container{
    height: : 100vh;
    width: 100%;
    background-image: url(images/background.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
    text-align: center;  
    padding-top: 300px;
}

.container2{
    height: : 100vh;
    width: 100%;
    background-image: url(images/background.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    
}

.play-button{
    text-align: center; 
    
  border: none;
  color: white;
  padding: 15px 32px;
 
  text-decoration: none;
  display: inline-block;
    border-radius: 50%;
}

.play-button:active{
     background-color: darkgrey;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.play-button:hover{
    background-color: darkgrey
}
.tutorial-button{
    text-align: center; 
    
  border: none;
  color: white;
  padding: 15px 32px;
 
  text-decoration: none;
  display: inline-block;
    border-radius: 50%;
}

.tutorial-button:active{
     background-color: darkgrey;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.tutorial-button:hover{
    background-color: darkgrey
}


.start-button{
    text-align: center; 
    
  border: none;
  color: white;
  padding: 15px 32px;
 
  text-decoration: none;
  display: inline-block;
    border-radius: 50%;
}

.start-button:active{
     background-color: darkgrey;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.start-button:hover{
    background-color: darkgrey
}
.p1-plan-button{
    text-align: center; 
    
  border: none;
  color: white;
  padding: 15px 32px;
 
  text-decoration: none;
  display: inline-block;
    border-radius: 50%;
  
}
.p1-plan-button:active{
    background-color: darkgrey;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.p1-plan-button:hover {background-color: darkgrey}

.play{
    text-align: center; 
    
  border: none;
  color: white;
  padding: 15px 32px;
 
  text-decoration: none;
  display: inline-block;
    border-radius: 50%;
  
}

.play:active {
  background-color: darkgrey;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
    
}

.play:hover {background-color: darkgrey}

.tutorial{
    
  text-align: center; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  border-radius: 50%;

    
}
.input-box{
    height:200px;
    font-size:14pt;
}
.tutorial:hover {background-color: darkgrey}

.tutorial:active {
  background-color: darkgrey;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#bargainning-chips{
    height:200px;
    font-size:14pt;
    text-align: center;
}
#walkaway-options{
    height:200px;
    font-size:14pt;
    text-align: center;
}
#title{
    font-size: 30px;
}

#subtitle{
    font-size: 15px;
}
.planning-round{
    padding-top: 10px;
}
#needs{
     width: 300px;
  border: 5px solid grey;
border-radius: 50%;
  padding: 25px;
  margin: 20px;
}

#timer{
   height: 30px;
  width: 30px;
  background-color: ghostwhite;
  border-radius: 50%;
  display: inline-block;
    text-align: center;
    border: 5px;
    border-color: black;
}
#key-interests{
   width: 300px;
  border: 5px solid grey;
border-radius: 50%;
  padding: 25px;
  margin: 20px;  
}