.container{
    height: : 100vh;
    width: 100%;
    background-image: url(images/background.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}